# Welcome to serverless. Read the docs
# https://serverless.com/framework/docs/

# Serverless.yml is the configuration the CLI
# uses to deploy your code to your provider of choice

# The `service` block is the name of the service
service: serverless-hello-world

custom: 
  config: ${file(serverless.${self:provider.stage}.yaml)}
    
# The `provider` block defines where your service will be deployed
provider:
  name: aws
  runtime: nodejs6.10
  stage: ${opt:stage, 'dev'}

# The `functions` block defines what code to deploy
functions:
  testHelloWorld:
    handler: handler.helloWorld
    memorySize: 128 # optional, in MB, default is 1024
    timeout: 1 # optional, in seconds, default is 6
    environment:
      STAGE: ${self:provider.stage}
      DEBUG_LEVEL: ${self:custom.config.debug.level}

    # The `events` block defines how to trigger the handler.helloWorld code
    events:
      - http:
          path: hello-world
          method: get
          cors: true

plugins:
  - serverless-offline